body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.p1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 300px;
    color: white;
}
.lrs {
    font-size: 20px;
}
.posi-ico {
    position: absolute;
    right: 100px;
    margin-top: 40px;
}
.posi-navbar {
    display: flex;
    position: absolute;
    align-items: center;
}
